<div>
	<ul>
		<li><strong>Client Name:</strong>  <%= @client.name %></li>
		<li><strong>Client Type:</strong>  <%= @client.client_type %></li>
		<li><strong>Account/Program:</strong>   <%= @client.program %></li>
		<li><strong>Geo Location:</strong>  <%= @client.location %></li>
		
	</ul>
</div>
